body {
  padding: 0;
  margin: 0;
}
.p-board canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.p-board video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.p-board video.is-disable {
  visibility: hidden;
}
.p-board img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.p-board__taketurn {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
}
.p-board__taketurn.is-none {
  display: none;
}
.p-board__myturn {
  position: absolute;
  z-index: 4;
  bottom: 0;
  right: 0;
}
.p-board__myturn.is-none {
  display: none;
}
.p-board__clear {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
}
.p-board__clear.is-none {
  display: none;
}
